html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	line-height: 14px;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}
*{
	box-sizing: border-box;	
	margin: 0;
	padding: 0;
}
a {
	color: #fff;
	text-decoration: none;
}
header {
	top: 0;
	z-index: 50;
	width: 100%;
	position: relative;
	background: #1f294a;
	border-bottom: solid 2px transparent;
	height: 45px;
	padding: .6rem 0 .3rem;
}
header .logo{
	font-size: 29px;
	line-height: 29px;
	font-weight: 300;
}
.right-block{
	float: right;
}
.btn{
	display: inline-block;
	font-weight: 500;
	line-height: 1.286rem;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	padding: .4286rem .8571rem;
	border-radius: 5px;
	transition: all .2s ease-in-out;
}
.account-btn .btn{
	margin-left: 0;
	margin-right: 6px;
	font-size: 1rem;
	line-height: 1rem;
	border: 0;
}
.account-btn .btn:before {
	padding: 0 14px 0 0;
	margin-right: 10px;
	border-right: 1px solid;
	font-size: .85rem;
}
.btn-login{	
	color: #1f294a;
	text-shadow: 0 0 4px #fff;
	box-shadow: 0 1px 0 0 #a0a5b9;
	background: linear-gradient(to bottom,#eaf1fa 0,#c3cee0 100%);
}
.btn-login:hover {
	box-shadow: 0 1px 0 0 #52586e;
	background: linear-gradient(to bottom,#eaf1fa 0,#a6b7d3 100%);
}
.btn-login:before {
	font-family: FontAwesome;
	content: "\f023";
}
.btn-reg{
	color: #fff;
	text-shadow: 0 0 4px #628e0d;
	box-shadow: 0 1px 0 0 #2b8142;
	background: linear-gradient(to bottom,#6ecb86 0,#3caf59 100%);
}
.btn-reg:hover {
	box-shadow: 0 1px 0 0 #264403;
	background: linear-gradient(to bottom,#6ecb86 0,#289a45 100%);
}
.btn-reg:before {
	font-family: FontAwesome;
	content: "\f040";
}
.main-nav{
	border-top: 1px solid #fff;
	background: #ddd;
}
.main-nav ul{
	margin: 0 auto;
	display: table;
	width: 100%;
	padding: 0;
}
.content{
	max-width: 1186px;
	margin: 0 auto;
}
.main-nav li:first-child {
	border-left: 1px solid #fff;
}
.main-nav li {
	list-style: none;
	display: table-cell;
	position: relative;
}
.main-nav a {
	display: block;
	white-space: nowrap;
	height: auto;
	position: relative;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	border-right: 1px solid #fff;
	color: #333;
	padding: 47px 20px 10px;
	font-size: .9em;
}
.main-nav a.active {
	background: #fff;
	color: #1f294a;
}
.main-nav  a .icon {
	position: absolute;
	right: 0;
	left: 0;
	top: 6px;
	padding: 8px;
	font-size: 1.4em;
	display: block;
	transition: all,.3s,ease-in-out;
}
.main-nav  a:hover .icon {
	top: 15px;
}
.games-section{
	margin-top: 20px;
}
.games-section .games-list {
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.games-section .game-item {
	width: 20%;
	padding: .4em;
	float: left;
	list-style: none;
}
.game-item a {
	float: left;
	width: 100%;
	position: relative;
	padding: 1px 1px 0;
}
.game-item i.fa-mobile {
	position: absolute;
	padding: 2px 5px;
	font-size: 2em;
	border-radius: 0 0 5px;
	z-index: 1;
	background: rgba(65,76,88,.9);
	color: #fff;
	display: none;
}
.game-item .game-img {
	height: 0;
	padding-bottom: 59%;
	position: relative;
	overflow: hidden;
}
.game-item .game-wrapper, .game-item a img {
	width: 100%;
	// height: 132px;
}
.game-item .game-name {
	color: #020202;
	font-weight: 600;
	text-align: left;
	position: relative;
	padding: 10px 0 1px 1px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.4;
	margin: 0;
}
.game-item .hover {
	display: block;
	text-align: center;
	position: absolute;
	opacity: 0;
	transition: opacity .2s ease-out;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 20;
	padding: 13% 0 0;
	background: rgba(0,0,0,.9);
	color: rgba(255,255,255,.9);
}
.game-item .hover i.fa {
	color: rgba(255,255,255,.9);
	font-size: .8em;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 3em 2em 2em;
	width: 7em;
	height: 7em;
}
.game-item .fa.fa-play, .game-item .fa.fa-play:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.game-item a:hover .hover {
	opacity: .9;
}
footer{
}
.banner-wrap{
	height: 350px;
	width: 100%;
	background-image: url(https://bps-cdn-level3.bpsgameserver.com/bgr/CasinoEuro/Common/neutral/image/2016/08/ba4f2ff86aae46fb9571d62a08b45438.jpg);
	background-size: cover;

	transform: translate3d(0px, 0px, 0px);
	transition-duration: 0ms;
	z-index: 1;
	display: -ms-flexbox;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.knight{
	height: 100%;
	width: 40%;
	position: absolute;
	right: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	z-index: 0;
	background-image: url(https://bps-cdn-level3.bpsgameserver.com/bgr/CasinoEuro/Common/neutral/image/2016/08/84de17c7ec804aba89ccfa66bd94ed0b.png);
	background-size: contain;
}
.after-knight{
	max-width: 62%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.banner-wrap .content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.text-block{
	margin-top: 20px;
}
.text-block h4{
	color: #1f294a;
	padding: 0 0 .5em;
	font-size: 2.571rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
}
.text-block p{
	color: #1f294a;
	text-align: justify;
	text-transform: none;
	padding: 5px 0 20px;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
	line-height: 1.5em;
}
.footer-payments{
	background: #313036;
	padding: 1.9em 0;
}
.footer-payments .content, .footer-games-logo .content{
	-ms-flex-pack: distribute;
	justify-content: space-around;
	display: -ms-flexbox;
	display: flex;
}
.payment-logo-wrap img{
	max-height: 35px;
	height: 35px;
	margin: 10px;
	position: relative;
	width: auto;
	vertical-align: middle;
}
.footer-games-logo{
	padding: 2.1714rem 0;
	background: rgba(0,0,0,.9);
}
.footer-games-logo img{
	max-width: 100%;
	max-height: 35px;
	height: 35px;
	margin: 10px;
	position: relative;
}
.games-wrap{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.emulat-games{
	height: auto;
	width: 1024px;
	display: inline-block;
	position: relative;
}
#displayLock{
	display: none; width: 100%; height: 100%; z-index: 9999; position: absolute;
}
#preloader{
	display: none;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background: black;
}
.animation-wrap {
	width: 256px;
	height: 256px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -128px;
	margin-top: -138px;
}
.animation-wrap .number-wrap {
	position: absolute;
	font-size: 40px;
	color: #01ffff;
	font-family: arial;
	top: 50%;
	left: 50%;
	margin-left: -51px;
	margin-top: -21px;
	width: 114px;
	text-align: center;
	line-height: 1;
	font-weight: 700;
}
#preloaderBackground{
	background-image: url("img/splashscreen.jpg");   
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 9999;
	transform: translate(0px, 0px);
	width: 1024px;
	height: 748px;
	display: inline-block;
}
.meter-wrap {
	position: absolute;
	height: 11px;
	width: 50%;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto auto;
}
.meter-wrap-bg-container {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	padding: 0 12px;
}
.meter-wrap-bg-left, .meter-wrap-bg-bar, .meter-wrap-bg-right {
	position: relative;
	float: left;
	height: 100%;
	top: -100%;
	border-top: 1px solid #b2c82f;
	border-bottom: 1px solid #b2c82f;
	background-color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.meter-wrap-bg-left {
	-moz-border-radius: 12px 0px 0px 12px;
	-webkit-border-radius: 12px 0px 0px 12px;
	border-radius: 12px 0px 0px 12px;
	border-left: 1px solid #b2c82f;
	width: 12px;
	right: 12px;
	height: 100%;
	top: 0px;
}
.meter-wrap-bg-bar, .meter-bg-bar {
	float: left;
	width: 100%;
}
.meter-wrap-bg-right {
	-moz-border-radius: 0px 12px 12px 0px;
	-webkit-border-radius: 0px 12px 12px 0px;
	border-radius: 0px 12px 12px 0px;
	border-right: 1px solid #b2c82f;
	width: 12px;
	margin-right: -12px;
	height: 100%;
}
.meter-value {
	margin-top: 2px;
	height: 7px;
	width: 10%;
	// margin-left: 2px;
	margin-left: 0px;
	overflow: hidden;
}
.meter-bg-container {
	position: relative;
	/* padding: 0 10px; */
	padding: 0px 13px;
	height: 7px;
}
.meter-bg-bar, .meter-bg-left, .meter-bg-right {
	position: relative;
	float: left;
	height: 100%;
	top: -100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #b2c82f;
	-webkit-animation: gradient-anim 2s infinite linear;
	-moz-animation: gradient-anim 2s infinite linear;
	-o-animation: gradient-anim 2s infinite linear;
	animation: gradient-anim 2s infinite linear;
}
.meter-bg-left {
	right: 10px;
	width: 10px;
	height: 100%;
	top: 0px;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.meter-bg-right {
	width: 10px;
	margin-right: -10px;
	height: 100%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
@media screen and (max-width: 1197px){
	.games-section .game-item {
		width: 25%;
	}
	.banner-wrap{
		background-image: url(https://bps-cdn-level3.bpsgameserver.com/bgr/CasinoEuro/Common/neutral/image/2016/03/4a40712da85944bfb4009d4ec5215f68.jpg);
		background-size: cover;
		background-position: 50% 0%;
	}
	.knight{
		display: none;
	}
}
@media screen and (max-width:1024px) {
	.banner-wrap {
		height: 250px;
	}
	.knight{
		height: 220px;
	}
	.visible-desktop{
		display: none !important;
	}
	.main-nav {
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		table-layout: fixed;
		width: 100%;
		display: table;
	}
	.main-nav .main-nav-wrap {
		width: 100%;
		overflow-x: auto;
		display: table-cell;
	}
}
@media screen and (max-width: 767px){
	.knight{
		margin: 0 auto;
		width: 35%;
		bottom: 50px;
	}
	.banner-wrap{
		height: 220px;
	}
}
@media screen and (max-width: 700px){
	.games-section .game-item {
		width: 33.3%;
	}
	.main-nav a {
		font-size: 1em;
	}
}
@media screen and (max-width: 548px){
	.games-section .game-item {
		width: 50%;
	}
	.games-section .game-item a {
		overflow: hidden;
	}
}